# Byte-compiled / optimized files
__pycache__/
*.pyc

# Local streamlit secrets
google_credentials.json
.streamlit/secrets.toml

#MDs
project_context_guide.md
ai_collaboration_guide.md

# Build artifacts
dist/
build/
*.spec